*.wav
*.tflite
__pycache__/
*.pyc
.env
data/raw/Columba_livia_541143.mp3
data/raw/Columba_livia_547561.mp3
data/raw/Columba_livia_547588.mp3
data/raw/Columba_livia_550328.mp3
data/raw/Columba_livia_550346.mp3
data/raw/Columba_livia_559541.mp3
data/raw/Columba_livia_600881.mp3
data/raw/Columba_livia_613537.mp3
data/raw/Columba_livia_615956.mp3
data/raw/Columba_livia_621266.mp3
data/raw/Columba_livia_645563.mp3
data/raw/Columba_livia_645568.mp3
data/raw/Columba_livia_661807.mp3
data/raw/Columba_livia_661810.mp3
data/raw/Columba_livia_663912.mp3
data/raw/Columba_livia_682220.mp3
data/raw/Columba_livia_695799.mp3
data/raw/Columba_livia_705769.mp3
data/raw/Columba_livia_726245.mp3
data/raw/Columba_livia_726247.mp3
data/raw/Columba_livia_774965.mp3
data/raw/Columba_livia_776693.mp3
data/raw/Columba_livia_777163.mp3
data/raw/Columba_livia_796913.mp3
data/raw/Columba_livia_796915.mp3
data/raw/Columba_livia_840017.mp3
data/raw/Columba_livia_842780.mp3
data/raw/Columba_livia_843660.mp3
data/raw/Columba_livia_862370.mp3
data/raw/Columba_livia_908646.mp3
